.link {
  cursor: pointer;
  text-decoration: none;
  transition: none;
  position: relative;
  display: inline-block;

  &::before {
    z-index: 5;
    content: '';
    width: 100%;
    box-sizing: content-box;
    padding: 0 2rem;
    transition: transform 150ms ease-out;
    position: absolute;
    bottom: -5px;
    height: 6px;
    left: 0;
    display: block;
    background-color: transparent;
    transform: rotate(0deg) scaleX(0);
    background: $color-primary;
    transform-origin: 0% 0%;
  }

  .active,
  &:hover {
    &::before {
      transform: rotate(-2deg) scaleX(100%);
    }
  }
}
