.link {
  cursor: pointer;
  text-decoration: none;
  transition: none;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;

  &::before {
    z-index: 5;
    content: '';
    width: 100%;
    transition: transform 150ms ease-out;
    position: absolute;
    bottom: -6px;
    height: 4px;
    left: 0;
    display: block;
    background-color: transparent;
    transform: rotate(0deg) scaleX(0);
    background: $color-primary;
    transform-origin: 0% 0%;
  }

  &.active,
  &:hover {
    &::before {
      transform: rotate(-2deg) scaleX(100%);
    }
  }
}

.expanded {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

$duration: 700ms;
$easingOnEnter: cubic-bezier(0.57, 1.28, 0.59, 1);
$easingOnClose: cubic-bezier(0.3, 0, 0.73, -0.27);
$circleSize: 80px;

@include breakpoint(0, md) {
  .navWrapper {
    &:not(.isMedium) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        right: ($circleSize * -1);
        top: ($circleSize * -1);
        width: $circleSize;
        height: $circleSize;
        border-radius: 50%;
        opacity: 1;
        transition-property: transform;
      }

      &::before {
        background: #aadcda;
        transition-duration: $duration;
        transition-timing-function: $easingOnClose;
        transition-delay: 0ms;
        transform-origin: 50% 40%;
        z-index: 20;
      }

      &.expanded {
        &::before {
          transform: scale(13);
          opacity: 1;
          transition-duration: ($duration + 100ms);
          transition-delay: 50ms;
          transition-timing-function: $easingOnEnter;
        }
      }

      &::after {
        background: darken(#aadcda, 10%);
        z-index: 10;
        transition-duration: ($duration - 50ms);
        transition-timing-function: $easingOnClose;
        transition-delay: 100ms;
        transform-origin: 50% 68.5%;
      }

      &.expanded {
        &::after {
          transform: scale(24);
          opacity: 1;
          transition-duration: $duration;
          transition-delay: 0ms;
          transition-timing-function: $easingOnEnter;
        }
      }
    }
  }
}

@include breakpoint(0, md) {
  .nav {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    gap: 2rem;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
    transition-delay: 0, 0;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    text-align: center;
    width: 100%;
    top: 100px;

    &.navVisible {
      transition-delay: 450ms;
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
}
