.link {
  cursor: pointer;
  text-decoration: none;
  transition: none;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;

  &::before {
    z-index: 5;
    content: '';
    width: 100%;
    transition: transform 150ms ease-out;
    position: absolute;
    bottom: -6px;
    height: 4px;
    left: 0;
    display: block;
    background-color: transparent;
    transform: rotate(0deg) scaleX(0);
    background: $color-primary;
    transform-origin: 0% 0%;
  }

  &.active,
  &:hover {
    top: 1px;

    &::before {
      bottom: -5px;
      transform: rotate(-2deg) scaleX(100%);
    }
  }
}
