@import "config.scss";

.section {
  @include breakpoint($from: md) {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contactInfo {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
