.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  .item {
    display: flex;
    padding-bottom: 1.75rem;
    flex-wrap: wrap;

    @include breakpoint($from: sm) {
      width: 48%;
      flex-basis: 48%;

      &:nth-child(odd) {
        margin-right: 4%;
      }
    }
  }

  .count {
    width: 2.8rem;
    color: $text-color-highlight;
    font-weight: 400;
    font-size: 1.2rem;
    flex: 0 0 2.8rem;
  }

  .content {
    flex: 1;
  }

  .name {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .description {
    font-size: 0.91rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
  }
}
