@font-face {
  font-family: Biotif;
  src: url(/assets/fonts/biotif.woff2) format('woff2'), url(/assets/fonts/biotif.woff) format('woff');
}

@font-face {
  font-family: Bogart;
  font-weight: bold;
  src: url(/assets/fonts/bogart-semi.woff2) format('woff2'), url(/assets/fonts/bogart-semi.woff) format('woff');
}

@font-face {
  font-family: Bogart;
  font-weight: normal;
  src: url(/assets/fonts/bogart.woff2) format('woff2'), url(/assets/fonts/bogart.woff) format('woff');
}
