.l-section {
  box-sizing: border-box;

  &__header {
    font-weight: 300;

    &--borderless {
      border: none;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1.15rem;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: uppercase;

    @include breakpoint($from: md) {
      text-align: right;
    }
  }

  &__content {
    box-sizing: border-box;
  }

  &__container {
    padding: 1.75rem;
    box-sizing: border-box;

    @include breakpoint($from: sm) {
      padding: 3.15rem 3.5rem 3.15rem;
    }
  }

  &--full-size {
    .l-section__content {
      .l-section__container {
        padding-top: 0;
      }
    }
  }
}
