@import './fonts';

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* stylelint-disable-next-line property-no-unknown */
  font-smooth: always;
}

:root {
  --rectangle-size: 1006px;
}

body {
  background: url('/assets/images/rectangle.svg') no-repeat;
  background-position-x: clamp(
    520px,
    calc(100vw - calc(var(--rectangle-size) / 1.8)),
    calc(50vw + 200px)
  );
  background-position-y: -280px;
  background-size: 1150px;
}

// @include breakpoint(sm) {
//   body {
//     background: url(/assets/images/rectangle.svg) no-repeat;
//     background-position: right -360px top -230px;
//     background-size: 1150px;
//     background-size: min(90%, 1150px);
//   }
// }

.link {
  cursor: pointer;
  text-decoration: none;
  transition: none;
  position: relative;
  display: inline-block;

  > span {
    position: relative;
    z-index: 10;
  }

  &::before {
    z-index: 5;
    content: '';
    width: 100%;
    position: absolute;
    bottom: -2px;
    height: 6px;
    left: 0;
    display: block;
    background: $color-primary;
    transform: rotate(-2deg);
    transition: transform 0.2s cubic-bezier(0.7, 2.97, 0.64, 1);
  }

  &:hover,
  .is-active {
    &::before {
      transform: scale3d(1.2, 1.1, 1.2);
    }
  }
}
