@import "config.scss";

@include breakpoint($from: sm) {
  .cell {
    padding: 3.15rem 3.5rem 3.15rem;
  }
}

@include breakpoint($until: md) {
  .section {
    &.fullSize {
      padding-top: 80px;
    }

    &:not(.fullSize) {
      .header {
        border-bottom: 1px solid #404242;
        border-top: 1px solid #404242;
        background: $shade4;
      }
    }
  }
}

.section {
  box-sizing: border-box;

  .header {
    font-weight: 300;

    &--borderless {
      border: none;
    }

    .title {
      font-weight: 400;
      font-size: 1.15rem;
      letter-spacing: 1px;
      margin-top: 0;
      text-transform: uppercase;

      @include breakpoint($from: md) {
        text-align: right;
      }
    }
  }

  .content {
    box-sizing: border-box;

    .textBlock {
      p {
        font-size: 1.23rem;
        line-height: 2.1rem;
      }
    }
  }

  .cell {
    padding: 1.75rem;
    box-sizing: border-box;

    @include breakpoint($from: sm) {
      padding: 3.15rem 3.5rem 3.15rem;
    }
  }
}

@include breakpoint($from: md) {
  .section {
    display: flex;
    margin: auto;

    &:nth-child(odd) {
      background-color: $shade2;

      .header {
        background-color: $shade1;
      }
    }

    &:nth-child(even) {
      background-color: $shade1;

      .header {
        background-color: $shade3;
      }
    }

    .header {
      box-sizing: border-box;
      flex-basis: 32%;
      justify-content: flex-end;
      order: 1;
      display: flex;

      .cell {
        max-width: (1276px * 0.3);
        align-content: flex-end;
      }
    }

    .content {
      order: 2;
      flex: 1;

      .cell {
        max-width: (1276px * 0.7);
      }
    }

    .cell {
      box-sizing: border-box;
      max-width: (1276px * 0.3);
      padding: 4.375rem;
    }

    &.fullSize {
      height: 100vh;
      min-height: 500px;

      .header {
        height: 100%;
      }

      .content {
        height: 100%;
        padding-top: 5.8rem;
        box-sizing: border-box;
      }

      .cell {
        height: 100%;
        padding-top: 5.8rem;
        box-sizing: border-box;
      }
    }
  }
}
