.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  .item {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  .button {
    box-sizing: border-box;
    background-color: #3f4040;
    border: 2px solid #3f4040;
    border-radius: 2px;
    display: block;
    line-height: 30px;
    font-size: 0.91rem;
    height: 33px;
    width: 33px;
    text-align: center;

    @include breakpoint($from: lg) {
      height: 38px;
      width: 38px;
      line-height: 36px;
      font-size: 1.1rem;
    }

    i,
    svg {
      color: #717273;
    }

    &:hover {
      background-color: #323333;

      i,
      svg {
        color: $text-color-highlight;
      }
    }
  }
}
