---
interface Props {
  title: string;
  children: any;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
      media="all"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:wght@400;700&display=swap"
      media="all"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>

  <body class="text-black">
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global lang="scss">
  body {
    margin: 0;
  }

  .sheet {
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    margin: 0 auto;

    &.a4 {
      width: 210mm;
      min-height: 296mm;
    }
  }

  .sheet {
    font-size: 10pt;
    font-weight: 400 !important;
  }

  // -----------------------------------
  // PRINT
  // -----------------------------------
  @media print {
    @page {
      size: A4;
      margin: 12mm 0;
    }

    .sheet {
      padding: 0 12mm;
    }

    table.companyInfo {
      page-break-inside: avoid;
    }
  }

  // -----------------------------------
  // SCREEN
  // -----------------------------------
  @media screen {
    body.root {
      background: #e0e0e0;
    }

    .sheet {
      background: #ffffff;
      box-shadow: 0 0.5mm 2.5mm rgba(0, 0, 0, 0.5);
      padding: 15mm;
      margin: 8mm auto;
    }
  }
</style>
